.titolo{
  color: black;
  text-align: center;
  font-family: Impact;
  font-size: 50pt;
  position: sticky;
  font-family: sans-serif;
  margin-left: 500px;
}

.linea{
  height: 5px;
  color: black;
  background-color: black;
}
.flegrei{
  color: black;
  font-family: sans-serif;
  text-align: center;
}
.storia{
  color: black;
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  align-items: center; 
}

body{
  background-color:lightcyan;
}